build --java_runtime_version=remotejdk_21
build --java_language_version=21
build --tool_java_runtime_version=21
build --tool_java_language_version=21

# Establece el estándar C++17 para la compilación normal (target)
build --cxxopt=-std=c++17

# Establece el estándar C++17 para la compilación de herramientas (host/exec)
build --host_cxxopt=-std=c++17

# Silenciar advertencias de declaraciones obsoletas en C++ (limpia el log de Protobuf)
build --cxxopt='-Wno-deprecated-declarations'
build --host_cxxopt='-Wno-deprecated-declarations'

# Cache compartida para bazel (ide y claude code)
build --disk_cache=~/.cache/nanocode-cache
